<!DOCTYPE html>
<html>
  <head>
    <title>ぱちぱち</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- スマートフォン用のメタタグ -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Pachi Pachi">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-startup-image" href="splash/launch-640x1136.png"
          media="(device-width: 320px) and
                     (device-height: 568px) and
                     (-webkit-device-pixel-ratio: 2) and
                     (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="splash/launch-750x1294.png"
          media="(device-width: 375px) and
                     (device-height: 667px) and
                     (-webkit-device-pixel-ratio: 2) and
                     (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="splash/launch-1242x2148.png"
          media="(device-width: 414px) and
                     (device-height: 736px) and
                     (-webkit-device-pixel-ratio: 3) and
                     (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="splash/launch-1125x2436.png"
          media="(device-width: 375px) and
                     (device-height: 812px) and
                     (-webkit-device-pixel-ratio: 3) and
                     (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="splash/launch-1536x2048.png"
          media="(min-device-width: 768px) and
                     (max-device-width: 1024px) and
                     (-webkit-min-device-pixel-ratio: 2) and
                     (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="splash/launch-1668x2224.png"
          media="(min-device-width: 834px) and
                     (max-device-width: 834px) and
                     (-webkit-min-device-pixel-ratio: 2) and
                     (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="splash/launch-2048x2732.png"
          media="(min-device-width: 1024px) and
                     (max-device-width: 1024px) and
                    (-webkit-min-device-pixel-ratio: 2) and
                    (orientation: portrait)">
  </head>
  <body>
  <!-- ヘッダーここから -->
  <div class="l-header">
    <% if @current_user %>
      <figure class="image is-32x32">
        <%= link_to root_path do %>
          <img class="l-header__userImage is-rounded"
               src="<%= @current_user.image_url.sub(/http/, 'https') %>"/>
        <% end %>
      </figure>
      <%= link_to 'ログアウト', logout_path, class: 'button is-link' %>
    <% end %>
  </div>
  <!-- ヘッダーここまで -->
  <!-- アラートここから -->
  <% if flash[:notice] %>
    <div class="navbar is-success c-alert">
      <p class="c-alert__text"><%= flash[:notice] %></p>
    </div>
  <% end %>
  <!-- アラートここまで -->
  <%= yield %>
  </body>
</html>
